.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.navbar-title-container {
    display: flex;
    flex-direction: column;
    /* Aligns text vertically */
}

.navbar-title {
    margin: 0;
    font-size: 24px;
    color: orangered;
}

.navbar-subtitle {
    margin: 0;
    font-size: 16px;
    color: black;
}

.navbar .profile {
    width: 40px;
}

.login-conditon {
    font-size: 20px;
}